@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coordinate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=c1dbf550-f74b-4214-a824-ab92e437ca0b&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        var shirmin =@Html.Raw(Json.Encode(ViewBag.shirmin));
        var shirmax =@Html.Raw(Json.Encode(ViewBag.shirmax));
        var dolgmin =@Html.Raw(Json.Encode(ViewBag.dolgmin));
        var dolgmax =@Html.Raw(Json.Encode(ViewBag.dolgmax));
        var y = @ViewBag.y;
        console.log(y, shirmin, shirmax, dolgmin, dolgmax);

        var color = new Map([
            [0, '#ff8282'], //красный
            [1, '#ffde82'], //ЖЁЛТЫЙ
            [2, '#9bff82'], //зелёный
            [3, '#82ffee'], //голубой
            [4, '#8291ff'], //синий
            [5, '#be82ff'], //фиолетовый
            [6, '#ff82f5'], //пурпурный
            [7, '#989898bf'], //серый
            [8, '#000000a6'], //черный
            [9, '#750000c7'], //тёмной красный
            [10, '#ff8282'], //красный
            [11, '#ffde82'], //ЖЁЛТЫЙ
            [12, '#9bff82'], //зелёный
            [13, '#82ffee'], //голубой
            [14, '#8291ff'], //синий
            [15, '#be82ff'], //фиолетовый
            [16, '#ff82f5'], //пурпурный
            [17, '#989898bf'], //серый
            [18, '#000000a6'], //черный
            [19, '#750000c7'], //тёмной красный
            [20, '#000000a6'], //черный
            [21, '#750000c7'] //тёмной красный
        ]);

        // Функция ymaps.ready() будет вызвана, когда
        // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
        ymaps.ready(init);
        function init() {
            // Создание карты.
            var myMap = new ymaps.Map("map", {
                // Координаты центра карты.
                // Порядок по умолчанию: «широта, долгота».
                // Чтобы не определять координаты центра карты вручную,
                // воспользуйтесь инструментом Определение координат.
                center: [56.29, 84.56],
                // Уровень масштабирования. Допустимые значения:
                // от 0 (весь мир) до 19.
                zoom: 2
            });


            for (var i = 0; i <= y; i++) {
                var myRectangle = new ymaps.GeoObject({
                    geometry: {
                        type: "Rectangle",
                        coordinates: [
                            [shirmin[i], dolgmin[i]],
                            [shirmax[i], dolgmax[i]]
                        ]
                    },
                    properties: {
                        hintContent: '',
                        balloonContent: 'Кластер ' + i
                    }
                },
                    {
                        // Опции.
                        // Цвет и прозрачность заливки.
                        fillColor: color.get(i),
                        // Дополнительная прозрачность заливки..
                        // Итоговая прозрачность будет не #33(0.2), а 0.1(0.2*0.5).
                        fillOpacity: 0.5,
                        // Цвет обводки.
                        strokeColor: '#0000FF',
                        // Прозрачность обводки.
                        strokeOpacity: 0.5,
                        // Ширина линии.
                        strokeWidth: 2,
                        // Радиус скругления углов.
                        // Данная опция принимается только прямоугольником.
                        borderRadius: 6
                    });

                //var myRectangle2 = new ymaps.GeoObject({
                    //geometry: {
                        //type: "Rectangle",
                        //coordinates: [
                            //[30.70, 35.30],
                            //[35.80, 40.40]
                        //]
                    //}
                //});
                myMap.geoObjects.add(myRectangle);
            }

            //myMap.geoObjects.add(myGeoObject);

            //var myPlacemark = new ymaps.Placemark([25.8, 25.6]);
            //myMap.geoObjects.add(myPlacemark);



            //myMap.geoObjects.add(myRectangle2);


        }
    </script>
</head>
<body>
    <div>

    </div>

    <form method="post" action="">
        <label>Выберите период</label>
        <select id="groups" name="y">
            @* <option value="">Countries</option>*@
            @for (int i = 0; i < 2@*ViewBag.i*@; i++)
{
<option value="@(i+1)">@*@(i + 1)*@1955-1985</option>
}
        </select>

        <input type="submit" value="Отправить" />
    </form>

    <div>
        <div id="map" style="width: 100%; height: 580px"></div>
    </div>

    <br />
    <br />

    <span class="badge badge-warning">Таблица связи кластерв за два разных временных периода<br />
    Значение R, обозначает силу близости кластеров чем значение ближе к нулю тем ближе находятся кластеры.</span>
    <div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">1 период</th>
                    @*@for(int i = 1; i<= (ViewBag.rsearchFinal["1"]).Count; i++)
                        {
                            <th scope="col">@i</th>
                        }*@
                    <th scope="col">2 период</th>
                    <th scope="col">R</th>
                    <th scope="col">ссылка</th>
                </tr>
            </thead>
            <tbody>
                @for (int u = 1; u <= (ViewBag.rsearchFinal.Count); u++)
                {
                    <tr>
                        <th>@u</th>
                        @*@for(int y = 1; y<= (ViewBag.rsearchFinal["1"].Count); y++)
                            {
                                <td>
                                    @((ViewBag.resarchFinal[u.ToString()])[y.ToString()])
                                </td>
                            }*@
                        @foreach (KeyValuePair<string, double> rsq in ViewBag.rsearchFinal[u.ToString()])
                        {
                            <td>@rsq.Key</td>
                            <td>@rsq.Value</td>
                            <td>
                                @using (Html.BeginForm("Supa", "Mapan", FormMethod.Post))
                                {
                                    <input type="hidden" name="f" value="@u" />
                                    <input type="hidden" name="s" value="@rsq.Key" />
                                    <input type="submit" class="btn btn-link" value="Подробнее" />
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <br />
    <br />
    <div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    @for (int i = 1; i <= (ViewBag.rsearch["1"]).Count; i++)
                    {
                        <th scope="col">@i</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int u = 1; u <= ViewBag.rsearch.Count; u++)
                {
                    <tr>
                        <th>@u</th>
                        @for (int y = 1; y <= (ViewBag.rsearch["1"]).Count; y++)
                        {
                            <td>
                                @((ViewBag.rsearch[u.ToString()])[y.ToString()])
                            </td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>



    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
