@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Климато-экологический мониторинга</title>
    <link rel="stylesheet" href="~/Content/new_index.css">
    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-base.min.js" type="text/javascript"></script>
    <style>
        table {
            width: 100%; /* Ширина таблицы в процентах */
        }

        .col1 {
            width: 3px; /* Ширина ячейки */
            height: 3px;
        }

        p {
            color: black;
        }

        #footer {
            position: static;
        }
    </style>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <form method="post" action="">
        <label>Расчёт коэффициента корреляции между</label>
        <select id="groups" name="s">
            @* <option value="">Countries</option>*@
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>

        </select>
        <select id="groups" name="s2">
            @* <option value="">Countries</option>*@
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>

        </select>
        <label>Группами</label>
        <input type="submit" value="Отправить" />
    </form>

    @*<h2>Коэффициент корреляции Пирсона</h2>
        <p>Время работы в потоке 18 мс</p>
        <p>Время расчёта последовательно 23 мс</p>*@
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                @for (var i = 0; i < ((List<double>)ViewBag.Pearson[1]).Count; i++)
                {
                    <th class="col1" scope="col">@(i + 1)</th>
                }

            </tr>
        </thead>
        <tbody>

            @for (var u = 0; u < ViewBag.Pearson.Count; u++)
            {
                <tr>
                    <th class="col1" scope="row">@(u + 1)</th>
                    @for (var i = 0; i < ((List<double>)ViewBag.Pearson[1]).Count; i++)
                    {
                        if (((List<double>)ViewBag.Pearson[u])[i] < 0)
                        {
                            if (((List<double>)ViewBag.Pearson[u])[i] > -0.5)
                            {
                                ViewBag.q = "#b1abff";
                            }
                            else
                            {
                                ViewBag.q = "#6e63ff";
                            }
                        }
                        else
                        {
                            if (((List<double>)ViewBag.Pearson[u])[i] > 0.5)
                            {
                                ViewBag.q = "#ff5e5e";
                            }
                            else
                            {
                                ViewBag.q = "#ffc9c9";
                            }
                        }

                        if ((ViewBag.s == u + 1 && ViewBag.s2 == i + 1) || (ViewBag.s == i + 1 && ViewBag.s2 == u + 1))
                        {
                            ViewBag.q = "#17ad00";
                        }

                        <td @*class="@ViewBag.q"*@ style="background-color: @ViewBag.q">@(((List<double>)ViewBag.Pearson[u])[i])</td>
                    }
                </tr>
            }

        </tbody>
    </table>

    @*<div class="alert alert-success">@ViewBag.testi</div>
    <div class="alert alert-info">@ViewBag.testi2</div>
    <div class="alert alert-warning">@ViewBag.testi3</div>
    <div class="alert alert-danger">@ViewBag.testi4</div>*@

    <h2>Коэффициент корреляции Спирмена</h2>
    <table class="table table-sm table-reflow">
        <thead>
            <tr>
                <th scope="col">#</th>
                @for (var i = 0; i < ((List<double>)ViewBag.Spearmen[1]).Count; i++)
                {
                    <th scope="col">@(i + 1)</th>
                }

            </tr>
        </thead>
        <tbody>

            @for (var u = 0; u < ViewBag.Spearmen.Count; u++)
            {
                <tr>
                    <th scope="row">@(u + 1)</th>
                    @for (var i = 0; i < ((List<double>)ViewBag.Spearmen[1]).Count; i++)
                    {
                        if (((List<double>)ViewBag.Spearmen[u])[i] < 0)
                        {
                            if (((List<double>)ViewBag.Spearmen[u])[i] > -0.5)
                            {
                                ViewBag.q = "#b1abff";
                            }
                            else
                            {
                                ViewBag.q = "#6e63ff";
                            }
                        }
                        else
                        {
                            if (((List<double>)ViewBag.Spearmen[u])[i] > 0.5)
                            {
                                ViewBag.q = "#ff5e5e";
                            }
                            else
                            {
                                ViewBag.q = "#ffc9c9";
                            }
                        }

                        if ((ViewBag.s == u + 1 && ViewBag.s2 == i + 1) || (ViewBag.s == i + 1 && ViewBag.s2 == u + 1))
                        {
                            ViewBag.q = "#17ad00";
                        }

                        <td @*class="@ViewBag.q"*@ style="background-color: @ViewBag.q">@(((List<double>)ViewBag.Spearmen[u])[i])</td>
                    }
                </tr>
            }

        </tbody>
    </table>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
</body>


</html>

